<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vote administrator:</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">Chose person:</label>
    <select id="person" th:object="${person}" th:field="*{id}">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">NAME</option>
    </select>

    <input type="submit" value="Set admin!">
</form>
</body>
</html>